<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Todo list</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>
    <div class="container" id="todo">  
      <h2 class="coba">Todo List</h2>  
            <section class="panel"> 
                <input type="checkbox" id="mark-all" @click="selectAll" :checked="areAllSelected">
                <input v-model="newTask" @keyup.enter="addTask" placeholder="What do you need to do?" autofocus class="text-input">
                <button @click="clearList">Clear List</button>
            </section>
            <section class="list">
                <ul class="list-item">
                    <li v-for="task in tasks" :class="{done: isChecked(task)}">
                        <input type="checkbox" class="checkbox" @click="check" v-model="task.checked">
                        <label for="checkbox" v-if="task !== editingTask" @dblclick="editTask(task)">{{ task.text }}</label>                      
                        <button class="delete" @click="removeTask(task)">X</button>
                    </li>                
                </ul>            
            </section>
    </div>
    <script src="https://unpkg.com/vue"></script>
    <script src="js/mian.js"></script>
  </body>
</html>